<div class="card">
<div class="card-header">
<h3 class="card-title">Checks</h3>
<p id="notice"><%= notice %></p>
</div>
<div class="table-responsive">
<table class="table card-table table-striped table-vcenter">
  <thead>
    <tr>
      <th>Active</th>
      <th>Name</th>
      <th>Cron</th>
      <th>Url</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td class="<%= class_for_active(check.active) %>"><%= check.active %></td>
        <td><%= link_to check.name, check %></td>
        <td class="text-nowrap"><code><%= check.cron %></code></td>
        <td><%= link_to check.url, check.url %></td>
        <td>
          <div class="<%= class_for_status(check.status) %>"><%= check.status %></div>
          <div class="small text-muted"><%= check.job %></div>
        </td>
        <td><%= link_to 'Edit', edit_check_path(check) %></td>
        <td><%= link_to ('<i class="fe fe-trash"></i>').html_safe, check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>