<!DOCTYPE html>
<html>
  <head>
    <title>Ciao</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p></p>
      <div class="row">
        <div class="col-12">
          <p>
            <%= link_to 'ciao', root_path, class: 'btn btn-info' %>
            <%= link_to 'Checks', checks_path, class: 'btn btn-outline-info' %>
            <%= link_to '<i class="fe fe-plus"></i> New Check</button>'.html_safe,
              new_check_path, class: 'btn btn-outline-success'%>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= yield %>
          <div class="small text-muted">
            <%= link_to 'ciao', 'https://ciao.run' %>
            <%= File.read(File.join(Rails.public_path, 'version')) %>
          </div>
          <p></p>
        </div>
      </div>
    </div>
  </body>
</html>